<h1>Dashboard#new</h1>
<p>Find me in app/views/dashboard/new.html.erb</p>

<% if session[:customer_id].nil? %>
  <%= link_to "login", login_path %>
  <%= link_to "signup", signup_path %>
<% else %>
  <p>Siemaneczko <%= current_customer.name %></p>
  <%= link_to "logout", logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
